.user {
  box-shadow: 10px 5px 5px #999;
  height: 120px;
  margin: 10px;
  opacity: 0;
  padding: 10px 20px;
  background-color: #DDD;
  border: 1px solid #333;
  border-radius: 10px;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    margin: -150px 0 0 0;
  }
  100% {
    opacity: 1;
    margin: 10px;
  }
}